<ion-modal-view class="wl-distortion-switcher-modal-container">
  <ion-header-bar class="bar-dark">
    <h1 class="title">十大认知扭曲</h1>
    <button class="button button-clear" ng-click="ctrl.hideModal('distortions')">关闭</button>
  </ion-header-bar>
  <ion-content overflow-scroll="true">

    <div class="wl-distortion-switcher-modal lcb-selectable">
      <div class="card" ng-repeat="(k, d) in ctrl.distortions track by k">
        <wl-radio ng-model="ctrl.selectedDistortion" ng-value="k" class="item-checkbox-right checkbox-stable" required><span>{{ctrl.padKey(k)}}</span>: {{d.name}}</wl-radio>
        <div class="item item-text-wrap">
          <span ng-bind-html="ctrl.renderValue(d.description)"></span>
        </div>
        <div class="item item-text-wrap" ng-if="d.example">
          <!--<button class="button button-small button-block button-stable"><i class="fa fa-angle-double-down"></i> 显示示例</button>-->
          <span ng-bind-html="ctrl.renderValue(d.example)"></span>
        </div>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
