<ion-modal-view id="treat-defend-container">
  <ion-header-bar class="bar-dark">
    <button class="button button-clear" ng-click="ctrl.hideModal('defend')">关闭</button>
    <h1 class="title">反驳</h1>
    <button class="button button-clear" ng-click="ctrl.saveDefend()">保存</button>
  </ion-header-bar>
  <ion-content>

    <form id="treat-defend" name="ctrl.defendForm" class="list" novalidate>
      <wl-distortion-picker ng-model="ctrl.defend.distortion">哪种认知扭曲？</wl-distortion-picker>
      <label class="item item-input">
        <textarea id="content" ng-model="ctrl.defend.content" required></textarea>
      </label>
    </form>

  </ion-content>
</ion-modal-view>
