<ion-view view-title="想法反驳器">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="ctrl.showImport()">
      写下想法
    </button>
  </ion-nav-buttons>
  <ion-content>

    <div id="treat-defend-list">
      <div class="card" ng-repeat="t in ctrl.thoughts track by $index">
        <div class="item item-text-wrap">
          {{t}}
        </div>
        <a class="item item-icon-right" href="javascript:void(0)">
          <i class="icon ion-chatbubble-working"></i>
          Call Ma
          <span class="item-note">
            Grammy
          </span>
          <i class="icon ion-ios-telephone-outline"></i>
        </a>
        <div class="item item-divider">
          <a href="javascript:void(0)" class="subdued pull-right" ng-click="ctrl.showDefend()">添加反驳</a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
